@using Message.Sms.Web.Repositories.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var channel = ViewData["ChannelData"] as Channel;
}

<div class="main-content message ">
    <div class="row">
        <div class="col-4 col-md-12">
            <div class="row">
                <div class="col-12 mb-0">
                    <div class="box">
                        <div class="box-info-messager">
                            <div class="box-body pd-0 d-flex align-items-start">
                                <div class="left w-90">
                                    <div class="message-pic big">
                                        <img src="@channel.Icon" style="width:80px" alt="">
                                        <div class="pulse-css"></div>
                                    </div>
                                    <div class="content">
                                        <div class="username">
                                            <h5 class="fs-24">@channel.Name</h5>
                                        </div>
                                        <div class="text">
                                            <p class="pb-5 mt-9 mb-0">@channel.Description</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="dropdown ml-14">
                                        <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bx bx-cog color-text"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body pt-20 user-profile">
                                <div class="table-responsive">
                                    <table class="table mb-0 mw-100 color-span">
                                        <tbody>
                                            <tr>
                                                <td class="py-2 px-0"> <span class="w-50">Channel ID </span> </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"> <span class="">@channel.Code</span> </td>
                                            </tr>
                                            <tr>
                                                <td class="py-2 px-0"> <span class="w-50">Price</span> </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"> <span class="">@Math.Round(channel.Price, 2)</span> </td>
                                            </tr>
                                            <tr>
                                                <td class="py-2 px-0"> <span class="w-50">Status</span> </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"> <span class="badge badge-success">Active</span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer pt-41">
                                <div class="btn-list text-center">
                                    <a href="#history-phonenumber-modal" data-toggle="collapse" title="短信历史记录" class="btn btn-light"><i class="bx bxs-envelope"></i> </a>
                                    <a href="javascript:void(0)" onclick="message.info('暂未支持')" title="拨打电话" class="btn btn-light"> <i class="bx bxs-phone-call"></i> </a>
                                    <a href="javascript:void(0)" onclick="message.info('暂未支持')" title="检查号码状态" class="btn btn-light"><i class="bx bxs-error-circle"></i></a>
                                    <a href="javascript:void(0)" onclick="message.info('暂未支持')" title="异常备注" class="btn btn-light"> <i class="bx bxs-message-alt-edit"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-11  mb-0">
                    <form asp-controller="sms" asp-action="GetPhoneNumber" data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-failure="message.error"
                          data-ajax-begin="ajax.begin(this)"
                          data-ajax-complete="ajax.complete(this)"
                          data-ajax-success="getPhoneNumberSuccess">
                        <div class="row">
                            <div class="col-12 mb-0">
                                <input type="hidden" name="channelKeyId" value="@channel.KeyId" />
                                <button type="submit" asp-action="Delete" style="width:100%" id="get-phoneNumber" class=" btn-base btn btn-primary continue-btn">Get PhoneNumber</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 mb-0">
                </div>
                <div class="collapse multi-collapse" id="history-phonenumber-modal">
                    <div class="col-12 mb-0">
                        <div class="box box-message">
                            <div class="input-group search-area">
                                <span class="input-group-text"><a href="javascript:void(0)"><i class="bx bx-search"></i></a></span>
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="box-header">
                                    <h4 class="card-title">History PhoneNumber</h4>
                                    <div class="dropdown ml-14">
                                        <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <ul class="message-list">
                                        <li class="waves-effect waves-teal active">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-2.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Elizabeth Holland
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>Hi, Did you check the file?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->

                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                        <li class="waves-effect waves-teal">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-3.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Bobby Mendez
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>Hi, When we will start the meeting?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                        <li class="waves-effect waves-teal">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-4.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Andreea Wade
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>Please let me check it.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                        <li class="waves-effect waves-teal">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-5.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Tom Schneider
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>What's new about the new project?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->

                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                        <li class="waves-effect waves-teal">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-6.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Bobby Mendez
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>I will check it tonight</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                        <li class="waves-effect waves-teal">
                                            <div class="left d-flex">
                                                <div class="avatar">
                                                    <img src="~/images/avatar/message-7.png" alt="">
                                                    <div class="pulse-css-1"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="username">
                                                        <div class="name h6">
                                                            Andreea Wade
                                                        </div>
                                                    </div>
                                                    <div class="text">
                                                        <p>Looks great. Let's finished it.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.left -->
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- /li.waves-effect -->
                                    </ul>
                                    <!-- /.message-list scroll -->
                                </div>
                            </div>
                        </div>

                        <!-- /.box-content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-12">
            <div class="box message-info">
                <div class="box-info-messager">
                    <div class="message-pic">
                        <img src="/images/avatar/sms.png" style="width:60px" alt="">
                        <div class="pulse-css" id="avatar-status" style="background:red"></div>
                    </div>
                    <div class="content">
                        <div class="username">
                            <h5 class="fs-18" id="this-mobile">No mobile number</h5>
                        </div>
                        <div class="text">
                            <p class="fs-14">The mobile phone number is free, get the verification code to start billing.</p>
                        </div>
                    </div>
                </div>
                <!-- /.box-info-messager -->
                <div class="divider"></div>

                <div class="message-box">
                    <div class="message-in">
                        <div class="message-pic">
                            <img src="~/images/avatar/message-1.png" alt="">
                            @* <img src="~/images/flags/cn.jpg" width="60px" alt=""> *@
                            <div class="pulse-css-1"></div>
                        </div>
                        <div class="message-body">
                            <div class="message-text">
                                <p>For the longest delay for 5 minutes, please wait patiently .. If you can't get it, it means that it has been blocked..</p>
                            </div>
                            <div class="message-meta">
                                <p class="mt-10">@DateTime.Now</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.message-in -->
                    <div class="clearfix"></div>
                </div>
                <div class="form-chat">
                    <form asp-controller="sms" id="get-code-form" asp-action="GetCode" data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-failure="message.error"
                          data-ajax-begin="options.begin(this)"
                          data-ajax-complete="ajax.complete(this)"
                          data-ajax-success="options.success">
                        <div class="message-form-chat">
                            <!-- /.pin -->
                            <span class="message-text">
                                <textarea name="message" id="message-body" placeholder="get verification code..." disabled>get verification code</textarea>
                            </span>
                            <!-- /.message-text -->
                            <span class="camera">
                                <a href="javascript:void(0)" onclick="message.info('暂未支持')" title="选择表情">
                                    <i class="fas fa-smile"></i>
                                </a>
                            </span>
                            <!-- /.camera -->
                            <span class="icon-message">
                                <a href="javascript:void(0)" onclick="message.error('暂未支持')" title="插入分享">
                                    <i class="fas fa-paperclip"></i>
                                </a>
                            </span>
                            <!-- /.icon-right -->
                            <!-- <div class="icon-mobile">
                                <ul>
                                    <li>
                                        <a href="#" title=""><i class="fas fa-smile"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title=""><i class="fas fa-paperclip"></i></a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- /.icon-right -->
                            <span class="btn-send">
                                <input type="hidden" name="taskKeyId" value="@channel.KeyId" />
                                <button style="background:#c1c0c3" onclick="options.onsubmit();return false;" id="get-mobile-code" disabled>Connect Close<i class="fas fa-paper-plane"></i></button>
                            </span>
                            <!-- /.btn-send -->
                        </div>
                        <!-- /.message-form-chat -->
                        <div class="clearfix"></div>
                    </form>
                    <!-- /form -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function getPhoneNumberSuccess(data) {
        console.log(data)
        console.log(data.mobile)
        console.log(data.taskKeyId)
        if (data.mobile != '') {
            $('#this-mobile').html(data.mobile)
            $('#taskKeyId').val(data.taskKeyId)
            $('#avatar-status').removeAttr('style')
            $('#get-mobile-code').removeAttr('style').attr('disabled', false).html('Connecting<i class="fas fa-paper-plane">');
        } else {
            message.error('获取失败')
        }
    }

    var options = {
        getCodeNum: 1,
        intervalId: 0,
        get: function () { },
        begin: function (e) {
            ajax.begin(e)
        },
        getCode: function () {
            if (options.getCodeNum > 3) {
                clearInterval(options.intervalId);
                console.log('停止')
                messageOption.receive('It may be really gone if it is not obtained...');
                return;
            }
            $('#get-code-form').submit();
            console.log(options.getCodeNum)
            options.getCodeNum++;
        },
        success: function (e) {
            if (e != undefined && e != '') {
                console.log('请求成功，取消任务')
                clearInterval(options.intervalId);
                $('.skill-progress').remove();
                messageOption.receive(e);
                setTimeout(function () { messageOption.receive('The request is over, and the text message will be re -charged again..') }, 1000)
                $('#get-mobile-code').removeAttr('style').attr('disabled', false).html('Connecting<i class="fas fa-paper-plane">');
            }
        },
        onsubmit: function (e) {
            this.intervalId = setInterval(this.getCode, 3000);
            messageOption.send(`<p>Connection successful, please wait..</p><div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                         <div class="progress-bar progress-animated" style="animation-duration: 300s;width: 100%; height:7px;" role="progressbar">
                                                         <span class="sr-only">78% Complete</span>
                                                     </div>
                                                                                                                </div>`, false);
            $('#get-mobile-code').attr('disabled', true).css('background', '#c1c0c3').html('Connecting...<i class="fas fa-paper-plane">');
        }
    };

    var messageOption = {
        command: function (type, context, isP) {
            if (isP == undefined) {
                context = `<p>${context}</p>`
            }
            var message = `<div class="message-${type}">
                                                       <div class="message-pic">
                                                         <img width="60px" src="/images/avatar/message-1.png" alt="">
                                                           <div class="pulse-css-1"></div>
                                                       </div>
                                                       <div class="message-body">
                                                           <div class="message-text">
                                                                   ${context}
                                                           </div>
                                                           <div class="message-meta">
                                                               <p class="mt-10">${new Date()}</p>
                                                           </div>
                                                       </div>
                                                       <div class="clearfix"></div>
                                                   </div>
                                                   <!-- /.message-in -->
                                                       <div class="clearfix"></div>`;
            $('.message-box').append(message);
        },
        send: function (context, isP) { this.command('out', context, isP) },
        receive: function (context, isP) { this.command('in', context, isP) },
    }
</script>