@using Message.Sms.Web.Repositories.Entity
@model List<UsersBalanceBill>
<div id="task-bill" class="d-none d-md-block">
    <div class="box">
        <div class="box-body pb-30">
            <form asp-action="consumeBill" data-ajax="true" enctype="multipart/form-data"
                  data-ajax-method="get"
                  data-ajax-failure="message.error"
                  data-ajax-begin="ajax.begin(this)"
                  data-ajax-complete="ajax.complete(this)"
                  data-ajax-success="thisOptions.success">
                <div class="row">
                    <div class="col-md-12 col-xl-10 mb-0">
                        <div class="row">
                            <div class="col-md-12 col-xl-4 mb-0">
                                <div class="form-group">
                                    <label class="form-label">From:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class='bx bx-calendar'></i> </div>
                                        </div>
                                        <input name="startDate" value="@ViewBag.StartDate" class="form-control" placeholder="YYYY/MM/DD" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-4 mb-0">
                                <div class="form-group">
                                    <label class="form-label">To:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class='bx bx-calendar'></i> </div>
                                        </div>
                                        <input name="entDate" value="@ViewBag.EntDate" class="form-control" placeholder="YYYY/MM/DD" type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-4 mb-0">
                                <div class="form-group">
                                    <label class="form-label">Select Type:</label>
                                    <select name="type" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Type">
                                        <option value="">All</option>
                                        <option value="1">Recharge</option>
                                        <option value="2">Deduct</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-2 mb-0">
                        <div class="form-group mt-32">
                            <button type="submit" class="btn bg-primary btn-block color-white">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <div id="task-profile_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <!-- <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="task-profile_length"><label>Show <select name="task-profile_length" aria-controls="task-profile" class="form-select form-select-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="task-profile_filter" class="dataTables_filter"><label><input type="search" class="form-control form-control-sm" placeholder="Search..." aria-controls="task-profile"></label></div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-vcenter text-nowrap table-bordered dataTable no-footer" id="task-profile" role="grid">
                                <thead>
                                    <tr class="top">
                                        <th class="border-bottom-0 text-center sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 26.6562px;">No</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 222.312px;">Title</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 84.8281px;">Type</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">Amount</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 87.9844px;">BeforeBalance</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">AfterBalance</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 71.875px;">CreateTime</th>
                                        <th class="border-bottom-0 sorting_disabled fs-14 font-w500" rowspan="1" colspan="1" style="width: 145.391px;">Actions</th>
                                        <th class="border-bottom-0 sorting fs-14 font-w500" tabindex="0" aria-controls="task-profile" rowspan="1" colspan="1" style="width: 110.719px;">Remake</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = ViewBag.PageIndex == 1 ? 1 : ViewBag.PageIndex * 10;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="even">
                                            <td class="text-center">@(index++)</td>
                                            <td>
                                                <a href="#" class="d-flex "> <span>@item.Title</span> </a>
                                            </td>
                                            @if (item.Type == 1)
                                            {
                                                <td><span class="badge badge-success-light">Recharge</span></td>
                                                <td><span class="badge badge-success-light">+@item.Amount</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger-light">Deduct</span></td>
                                                <td><span class="badge badge-danger-light">-@item.Amount</span></td>
                                            }
                                            <td>@item.BeforeBalance</td>
                                            <td>@item.AfterBalance</td>
                                            <td>@item.CreateTime</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class='bx bx-dots-horizontal-rounded'></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td> @item.Remake </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="task-profile_info" role="status" aria-live="polite">Only load the first 20 items</div>
                        </div>
                        @* <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="task-profile_paginate">
                        <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="task-profile_previous"><a href="#" aria-controls="task-profile" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="task-profile" data-dt-idx="1" tabindex="0" class="page-link">01</a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="task-profile" data-dt-idx="1" tabindex="0" class="page-link">02</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="task-profile" data-dt-idx="1" tabindex="0" class="page-link">03</a></li>
                        <li class="paginate_button page-item next disabled" id="task-profile_next"><a href="#" aria-controls="task-profile" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                        </ul>
                        </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var thisOptions = {
        success: function (e) {
            $('#task-bill').html(e)
        }
    };
</script>