@model List<Message.Sms.Web.OpenSDK.Models.ApocalypseGetChanneData>
@inject Message.Sms.Web.Infrastructure.AppUsers AppUsers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="main-content client list">
    <div class="row">
        <div class="col-12 mb-10">
            <div class="box">
                <div class="box-body d-flex justify-content-between pt-0 pb-0">
                    <form asp-action="details" method="get">
                        <div class="search-form d-flex">
                            <input type="text" placeholder="Province" value="@ViewBag.SearchString" name="SearchString" class="form-control">
                            <button type="submit" class="col-md-3 col-sm-12 search d-flex"><i class="fas fa-search"></i>Search</button>
                        </div>
                    </form>
                    @if (AppUsers.IsAdmin.Value)
                    {
                        <div class="list-action">
                            <a class="list active" href="#" onclick="liststyle()"><i class='bx bx-menu'></i></a>
                            <a href="#" class="list-board" onclick="listboard()"><i class='bx bxs-dashboard'></i></a>
                            <a href="#" class="add disabled" data-toggle="modal" data-target="#add_client">Add Client<i class="fas fa-plus-circle"></i></a>
                        </div>
                    }
                </div>

            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-3 col-md-6 col-sm-12 mb-25">
                <div class="box client">
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item delete-client" onclick="removeClient('')" href="#" data-toggle="modal" data-target="#delete_client"><i class="bx bx-trash"></i> Delete</a>
                            <a class="dropdown-item" href="#" onclick="updateClient('')" data-toggle="modal" data-target="#edit_client"><i class="bx bx-edit mr-5"></i>Edit</a>
                        </div>
                    </div>
                    <div class="box-body pt-5 pb-0">
                        <div class="img-box">
                            <img src="@ViewBag.Icon" style="width:80px" alt="">
                            <div class="pulse-css"></div>
                        </div>
                        <a href="/project/createChannel?keyId=@ViewBag.KeyId&channelId=@item.id"><h5 class="mt-17">@item.content</h5></a>
                        @* <p class="fs-14 font-w400 font-main"><span class="text-clo-primary font-w500 pl-4">@item.code - @item.id</span></p> *@
                        <ul class="info">
                            <li class="fs-14"><i class="bx bxs-phone"></i>@item.province</li>
                            <li class="fs-14"><i class="bx bxs-phone"></i>@item.content</li>
                            <li class="fs-14"><i class="bx bxs-money"></i>Price：@Math.Round(item.userMoney.Value + 1, 2)</li>
                            @* <li class="fs-14"><i class="bx bxs-envelope"></i>CostPrice：@Math.Round(item.userMoney.Value, 2)</li> *@
                        </ul>
                        @*<div class="group-btn d-flex justify-content-between">
                            <a class="bg-btn-pri color-white" href="/project/createChannel?keyId=@ViewBag.KeyId&channelId=@item.id">Message</a>
                            <a class="bg-btn-sec color-main" href="javascript:void(0)" onclick="message.info('暂未支持')">View Profile</a>
                        </div>
                        <div class="group-btn d-flex justify-content-center">
                    <a class="bg-btn-pri color-white text-center" style="width:90%" href="/channel/message/">Message</a>
                    <a class="bg-btn-sec color-main" href="user-profile.html">View Profile</a>
                    </div>*@
                    </div>

                </div>
            </div>
        }
    </div>

    <div id="add_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Channel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create" data-ajax="true" data-ajax-method="post" data-ajax-success="success" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Channel Name</label>
                                    <input name="Name" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Channel Code</label>
                                    <input name="Code" class="form-control" value="" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input name="Price" placeholder="$1" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>CostPrice</label>
                                    <input name="CostPrice" placeholder="$0.1" class="form-control" value="" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="Description" rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal custom-modal fade" id="delete_client" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Channel</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <form asp-action="delete" data-ajax="true"
                              data-ajax-method="post"
                              data-ajax-failure="message.error"
                              data-ajax-begin="ajax.begin(this)"
                              data-ajax-complete="ajax.complete(this)"
                              data-ajax-success="addClientSucess">
                            <div class="row">
                                <div class="col-6 mb-0">
                                    <input type="hidden" name="KeyId" id="delete-client-id" />
                                    <button type="submit" asp-action="Delete" style="width:100%" id="delete-client-btn" class="btn btn-primary continue-btn">Delete</button>
                                </div>
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit_container"></div>
</div>
<script src="~/js/pages/clients.js"></script>
<script type="text/javascript">
    function addClientSucess(e) {
        message.success();
        location.reload();
    }
    function removeClient(id) {
        $('#delete-client-id').val(id)
    }
    function updateClient(id) {
        $.get(`/channel/UpdatePartialView?keyId=${id}`, (e) => $('#edit_container').html(e))
    }
</script>
