@using Message.Sms.Web.Models.ViewModel
@using Message.Sms.Web.Repositories.Entity
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="main-content project">
    <div class="row">
        <div class="col-9 col-xl-7 col-md-8 col-sm-12">
            <div class="box card-box">
                <div class="icon-box bg-color-6 d-block">

                    <div class="content text-center color-6">
                        <h5 class="title-box fs-17 font-w500">Total Project</h5>
                        <div class="themesflat-counter fs-18 font-wb">
                            <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">1225 +</span>
                        </div>
                    </div>
                </div>
                <div class="icon-box bg-color-7 d-block">

                    <div class="content text-center color-7">
                        <h5 class="title-box fs-17 font-w500">Pending Project</h5>
                        <div class="themesflat-counter fs-18 font-wb">
                            <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">75 +</span>
                        </div>
                    </div>
                </div>
                <div class="icon-box bg-color-8 d-block">

                    <div class="content text-center color-8">
                        <h5 class="title-box fs-17 font-w500">On Going project</h5>
                        <div class="themesflat-counter fs-18 font-wb">
                            <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">1225 +</span>
                        </div>
                    </div>
                </div>
                <div class="icon-box bg-color-9 d-block">

                    <div class="content text-center color-9">
                        <h5 class="title-box fs-17 font-w500">Complete Project</h5>
                        <div class="themesflat-counter fs-18 font-wb">
                            <span class="number" data-from="0" data-to="309" data-speed="2500" data-inviewport="yes">2536 +</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-xl-5 col-md-4 col-sm-12">
            <div class="box h-100 d-flex align-items-center">
                <a class="create d-flex bg-primary justify-content-center" href="/project/create">
                    <div class="icon color-white pt-4 pr-8">
                        <i class='bx bx-plus-circle'></i>
                    </div>
                    <div class="content">
                        <h5 class="color-white">Create New Project</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="box-header pt-0 pl-0 ms-0 mb-4 mt-4 border-bottom-0 responsive-header">
                <h4 class="box-title fs-22">Recent Project Update</h4>
                <div class="card-options">
                    <div class="btn-list d-flex">
                        @* <a href="/project/create" class="btn text-primary border-primary d-flex align-items-center mr-5"><i class='bx bx-plus-circle mr-5'></i>Add Project</a>
                        <a href="#" class="btn btn-light d-flex align-items-center mr-5"><i class="fas fa-eye mr-5"></i>View All</a>
                        <a href="#" class="btn btn-light me-0 dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false"> Latest <i class="feather feather-chevron-down"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-end" role="menu">
                            <li><a href="#">Monthly</a></li>
                            <li><a href="#">Yearly</a></li>
                            <li><a href="#">Weekly</a></li>
                        </ul> *@
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in (ViewData["Data"] as List<Project>)!)
                {
                    <div class="col-3 col-xl-6 col-md-6 col-sm-12">
                        <div class="box left-dot">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-12 mb-10">
                                        <div class="mt-0 text-start">
                                            <a href="project-details.html" class="box-title mb-0 mt-1 mb-3 font-w600 fs-18">@item.ProjectName</a>
                                            <p class="fs-14 font-w500 text-muted mb-6">@item.SubTitle</p>
                                            <span class="fs-13  mt-2 text-muted">@item.Description</span>
                                        </div>
                                        <img src="@item.Icon" width="46" height="46" alt="img" class="img-box">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex mb-3 mb-md-0">
                                        <div class="mr-10">
                                            <div class="chart-circle chart-circle-xs" data-value="0.75" data-thickness="3" data-color="#3C21F7">
                                                <canvas width="40" height="40"></canvas>
                                                <div class="chart-circle-value">75%</div>
                                            </div>
                                        </div>
                                        <ul class="user-list mb-0">
                                            <li><img src="./images/avatar/user-1.png" alt="user"></li>
                                            <li><img src="./images/avatar/user-2.png" alt="user"></li>
                                            <li><img src="./images/avatar/user-3.png" alt="user"></li>
                                        </ul>
                                    </div>
                                    <div class="ms-auto mt-3 mt-sm-0">
                                        <div class="d-flex">
                                            @if (item.Grade == 1)
                                            {
                                                <div class="task-btn bg-danger-1 text-danger btn-link fs-14" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Project Priority">High</div>
                                            }
                                            else if (item.Grade == 2)
                                            {
                                                <div class="task-btn bg-yellow-1 text-yellow-1 fs-14" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Project Priority">Medium</div>
                                            }
                                            else {
                                                <div class="task-btn bg-success-1 text-success-1 fs-14" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Project Priority">Low</div>
                                            }
                                            <a class="btn btn-outline-light  text-muted pd-0 fs-34" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <ul class="dropdown-menu " role="menu">
                                                @* <li><a href="#"><i class="far fa-eye"></i>View</a></li>
                                                <li><a href="#"><i class='bx bx-plus-circle'></i>Add</a></li>
                                                <li><a href="#"><i class='bx bx-cog'></i>More</a></li> *@
                                                <li><a href="#" onclick="$('#delete-id').val('@item.KeyId')" data-toggle="modal" data-target="#delete_project"><i class='bx bx-trash'></i>Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal custom-modal fade" id="delete_project" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Project</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <form asp-action="delete" data-ajax="true"
                              data-ajax-method="post"
                              data-ajax-failure="message.error"
                              data-ajax-begin="ajax.begin(this)"
                              data-ajax-complete="ajax.complete(this)"
                              data-ajax-success="options.successrefreshesPage">
                            <div class="row">
                                <div class="col-6 mb-0">
                                    <input type="hidden" name="KeyId" id="delete-id" />
                                    <button type="submit" asp-action="Delete" style="width:100%" id="delete-client-btn" class="btn btn-primary continue-btn">Delete</button>
                                </div>
                                <div class="col-6 mb-0">
                                    <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="add_project" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select">
                                        <option>Client 1</option>
                                        <option>Client 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="$50" class="form-control" value="" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select">
                                        <option>Hourly</option>
                                        <option selected>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select">
                                        <option selected>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="edit_card_modal" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Card</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Image Card</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group">
                            <label>Card Name</label>
                            <input type="text" class="form-control" value="Food Website hero area">
                        </div>
                        <div class="form-group">
                            <label>Due Date</label>
                            <div class="cal-icon">
                                <input class="form-control " type="date" value="">
                            </div>
                        </div>
                        <div class="submit-section text-center">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add_card_modal" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Card</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Image Card</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group">
                            <label>Card Name</label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label>Due Date</label>
                            <div class="cal-icon">
                                <input class="form-control " type="date" value="">
                            </div>
                        </div>
                        <div class="submit-section text-center">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>